<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMDatabaseAccountName</key>
	<string>AZURE_MOBILE_COSMOS_DB_ACCOUNT_NAME</string>
	<key>AMFunctionAppName</key>
	<string>AZURE_MOBILE_FUNCTION_APP_NAME</string>
	<key>CustomVisionProjectId</key>
	<string>2eabd040-b534-4325-94d3-fad581571444</string>
	<key>CustomVisionTrainingKey</key>
	<string>0a7e79721f034ce1b25ca85d5f06a35a</string>
</dict>
</plist>
